body {
	max-width: 960px;
margin-left: 5px;
	margin-right: 5px;
	background-image: url(background.jpg);
	background-size: 100%;

}

.banner {
	width: 15%;
	height: auto;
	display: block;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding: 15px;

}

address {text-align: center;}

/* no longer used - but kept as comment for reference purposes
.imageone { */
	/* scaled image sizing: */
	width: 40%;
	height: auto;
	/* center image: */
	display: block;
	margin-left: auto;
	margin-right: auto;
	/*padding : */
	padding-bottom: 30px;
} 


.imagetwo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

ul {
display: inline;
list-style-type: none;
	text-align: center;
	font-weight: bolder;
	font-size: 35px;
	color: #f77935;
}

li {display: block;}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#last {
	color: #2b3266;
}

@media screen and (max-width: 500px) {
  body {
    background: black;
  }
}